.App { 
  min-height: 100vh;
  background-image: url(https://st4.depositphotos.com/4035529/26803/v/450/depositphotos_268032912-stock-illustration-veterinary-pets-accessories-outline-icons.jpg?forcejpeg=true);
  background-repeat:repeat;
}

body {
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


.search {
  margin: auto;
  width: 50%;
  padding-bottom: 50px;
  padding-top: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:x-large;
  text-align: center;
}

#search-div {
  padding-bottom: 20px;
}

.new-pet {
  margin: auto;
  width: 50%;
  padding-bottom: 50px;
  padding-top: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:x-large;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.item {
  width: 16em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

